html, body {
  margin: 0;
  padding: 0;
  background: #121212; /* pure dark mode */
  height: 100%;
  overflow: hidden;  /* <-- IMPORTANT: stops white background scroll */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
